.dropzone {
  align-items: center;
  background: #E1FAEC;
  border-radius: 10px;
  display: flex;
  height: 300px;
  justify-content: center;
  margin-top: 48px;
  outline: 0;
}

.dropzone img {
  border-radius: 10px;
  height: 100%; 
  object-fit: cover;
  width: 100%;
}

.dropzone p {
  align-items: center;
  border: 1px dashed #4ECB79;
  border-radius: 10px;
  color: #333;
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  justify-content: center;
  width: calc(100% - 60px);
}

.dropzone p svg {
  color: #4ECB79;
  height: 24px;
  margin-bottom: 8px;
  width: 24px;
}